{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'gestion/style.css' %}">

{% block content %}
    {% if actual_reservations %}
        <h2 class="left-elt">Happening now</h2>
        <table class="left-elt">
            <tr>
                <th>Reservation #</th>
                <th>Departure station</th>
                <th>Arrival station</th>
            </tr>
            {% for reservation in actual_reservations %}
            <tr>
                <td><a href="{% url 'gestion:reservation' reservation.id %}">{{reservation.reservation_number}}</a></td>
                <td>{{reservation.route.departure_station.name}}</td>
                <td>{{reservation.route.arrival_station.name}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2 class="left-elt">My upcoming trips</h2>
    {% if upcoming_reservations %}
        <table class="left-elt">
            <tr>
                <th>Reservation #</th>
                <th>Departure station</th>
                <th>Arrival station</th>
            </tr>
            {% for reservation in upcoming_reservations %}
            <tr>
                <td><a href="{% url 'gestion:reservation' reservation.id %}">{{reservation.reservation_number}}</a></td>
                <td>{{reservation.route.departure_station.name}}</td>
                <td>{{reservation.route.arrival_station.name}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="left-elt">No reservations made.</p>
    {% endif %}

{% endblock %}