{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'gestion/style.css' %}">

{% block content %}
<div>
    <div class="left-elt" style="padding: 10px;">
        <form action="{% url 'gestion:routes' %}" method="post">
            {% csrf_token %}
            {{ form.departure_station_name.label_tag }}
            {{ form.departure_station_name }}
            <span style="margin-right:20px"></span>
            {{ form.arrival_station_name.label_tag }}
            {{ form.arrival_station_name }}
            <input type="submit" value="Search">
        </form>
        <form action="{% url 'gestion:routes' %}" method="get">
            <input type="submit" value="Reset Filters">
        </form>
    </div>

    {% if routes_list %}
    <table class="left-elt">
        <tr>
            <th>Departure station</th>
            <th>Departure time</th>
            <th>Arrival station</th>
            <th>Arrival date</th>
        </tr>
        {% for route in routes_list %}
        <tr>
        <td>{{route.departure_station.name}}</td>
        <td>{{route.departure_time|date:"D d M Y - H:i"}}</td>
        <td>{{route.arrival_station.name}}</td>
        <td>{{route.arrival_time|date:"D d M Y - H:i"}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No routes are available at the moment.</p>
    {% endif %}
</div>
{% endblock %}

